.top-container{
  background-color: #DAE6E8;
  position: relative;
  height: 600px;
  padding: 30px;
  padding-bottom: 0;
  }
.cloud1{
  width: 300px;
  height: 100px;
  position: absolute;
  right: 150px;
  top: 150px;
}
.cloud2{
  width:300px;
  height: 100px;
  position: absolute;
  left: 100px;
  top:300px
}
body {
    display: block;
    margin: 0;
    text-align: center;
}
.intro{
  font-size: 100px;
  font-weight: bold;
  color: #68b0ab;
  font-family: 'Marck Script', cursive;
  text-align: center;
  position: relative;
  top: 50px;
}
.desc{
  font-family: 'Courgette', cursive;
  color: #68b0ab;
  font-size: 20px;
  text-align: center;
  position: relative;
  top:10px;
  }
.landscape{
  position: absolute;
  left: 300px;
  bottom: 0;
}
h2, h3{
   color: #68b0ab;
   font-family: 'Roboto Slab', serif;
}
p{
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
}
#my-pic{
  width: 300px;
  height: 300px;
}
.skill-icon{
  width:64px;
  height: 64px;
}
.skill-row{
  text-align: center;
  width:500px;
  height: 300px;
}
